<div class="wrap">
    <h1>{{ __('Test Workflow', 'polytrans')|esc_html }}: {{ workflow.name|esc_html }}</h1>

    <div id="workflow-tester-container">
        <!-- Workflow tester will be rendered here by JavaScript -->
    </div>
</div>

<script type="text/javascript">
    window.polytransWorkflowTestData = {{ workflow|json_encode|raw }};
</script>

