<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="PolyTrans Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    
    <coverage>
        <include>
            <directory suffix=".php">./includes/</directory>
        </include>
        <exclude>
            <directory>./tests/</directory>
            <directory>./vendor/</directory>
        </exclude>
    </coverage>
    
    <logging>
        <log type="coverage-html" target="coverage"/>
        <log type="coverage-clover" target="coverage.xml"/>
    </logging>
</phpunit>
